body {
    background-color: #d4d4d4
}

select.dt-input {
    width: 65px !important;
    margin-right: 5px !important;
}

.dt-search {
    display: flex !important;
    justify-content: start !important;
}

.dt-search label {
    display: none
}

.dt-input {
    border-radius: 10px !important;
    width: 300px !important;
    margin-bottom: 5px
}